# Datatypes - Tuples

In [ ]:
#Tuples are another derived datatype in Python. They retain some of the versatility of lists except that they are immutable
# unlike Lists. Since they are immutable, a lot of functions like append, extend, remove, pop and clear which can be used
# on lists cannot be used on Tuples. 

# Tuples come in handy when we need a datatype that can store different types of elements but cannot be mutated. 

# Special Note - if the elements in the Tuple are mutable objects - since the tuple is only saving the memory location of 
# the object AND tuples support indexing - one CAN access the mutable object inside the tuple and mutate that particular
# element - indirectly mutating the tuple. More on that - with examples - later. 

# Tuples have the following properties : 
#a. Derived datatype
#b. Sequential and Ordered
#c. Immutable
#d. Can hold different kinds of datatypes - including mutable objects. 
#e. Indexing and Slicing is supported
#f. Iterable
#g. Nesting is possible.

In [1]:
#To initiate a tuple, just use round brackets around the elements, separated by a comma. 

tup1 = (1,2,3,4)

print(tup1)
print(type(tup1))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
# Alternately use the tuple constructor with an iterable as a parameter. Just like lists. 

tup2 = tuple('abcde')

print(tup2)
print(type(tup2))

('a', 'b', 'c', 'd', 'e')
<class 'tuple'>

In [12]:
#If you wish to save the iterable(sequential) object as just one object - use the parenthesis.

tup3 = (10.2*10,)

print(tup3)
print(type(tup3))

print(len(tup3))

for x in tup3:
    print(x)

(102.0,)
<class 'tuple'>
1
102.0

In [13]:
#Note the comma after the element in the above syntax. This tells Python that we did not mean to just put a single element
# inside the variable but to create a tuple which contains one element. 

tup4 = ('abcde')

print(tup4)
print(type(tup4))

abcde
<class 'str'>

In [ ]:
#Note, how in the above case (since it was without a comma after the element), Python understood it as a single element
# and not a tuple.

In [18]:
# A tuple can even be initialised without the round brackets. 

tup5 = (1,)

print(tup5)
print(type(tup5))

(1,)
<class 'tuple'>

In [19]:
tup6 = 'abcde',

print(tup6)
print(type(tup6))

('abcde',)
<class 'tuple'>

In [ ]:
#As with the syntax of element without comma - while using brackets - the same holds true if you do not use brackets. 

tup7 = 'abcde'

print(tup7)
print(type(tup7))

In [20]:
#Tuples can hold different datatypes. 

tup1 = (1,'abcde', 2001, 10.2, [1,2,3,4], {'a':1001, 200 : ['Rock', 'Paper', 'Scissors']}, 
        ('BMW', 'Audi', 'Merc', 'Rolls', 'Maybach'))

print(tup1)
print(type(tup1))

(1, 'abcde', 2001, 10.2, [1, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Paper', 'Scissors']}, ('BMW', 'Audi', 'Merc', 'Rolls', 'Maybach'))
<class 'tuple'>

In [21]:
#As with other sequential objects we have learnt - they support indexing and slicing. 

print(tup1[5][200][1])

Paper

In [22]:
tup2 = tup1[:6]

print(tup2)
print(type(tup2))

(1, 'abcde', 2001, 10.2, [1, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Paper', 'Scissors']})
<class 'tuple'>

In [23]:
#However, they do not support assignment on the immutable objects in them i.e. the tuples themselves are immutable. 

tup2[0] = 2

print(tup2)

TypeError: 'tuple' object does not support item assignment

In [24]:
lst1 = list(tup2)

print(lst1)

[1, 'abcde', 2001, 10.2, [1, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Paper', 'Scissors']}]

In [25]:
#In lists we could have reassigned the item at index 0. 

lst1[0] = 2

print(lst1)

[2, 'abcde', 2001, 10.2, [1, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Paper', 'Scissors']}]

In [26]:
print(tup2)

(1, 'abcde', 2001, 10.2, [1, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Paper', 'Scissors']})

In [27]:
#However, in a tuple, the mutable elements can be altered. The idea is - since the tuple is holding the memory ids of the
# objects inside it, we cannot change the objects that it is holding. However, if we were to alter the mutable object that
# is inside the tuple, the id of that object does not change and the immutability idea of tuples is not violated. 
print(tup2)

(1, 'abcde', 2001, 10.2, [1, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Paper', 'Scissors']})

In [28]:
tup2[4][0] = 101

print(tup2)

(1, 'abcde', 2001, 10.2, [101, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Paper', 'Scissors']})

In [29]:
tup2[5][200][1] = 'Fire'

print(tup2)

(1, 'abcde', 2001, 10.2, [101, 2, 3, 4], {'a': 1001, 200: ['Rock', 'Fire', 'Scissors']})

In [30]:
# We can perform iteration on tuples. 

for a in tup2:
    print(a)

1
abcde
2001
10.2
[101, 2, 3, 4]
{'a': 1001, 200: ['Rock', 'Fire', 'Scissors']}

In [31]:
#All basic operations such as len(), concatenation, repetition and membership can be performed.

print(len(tup2))

6

In [32]:
#Concatenation in tuples 

tup1 = tuple('abcde')

tup2 = 1,2,3,4

print(tup1)
print(tup2)

('a', 'b', 'c', 'd', 'e')
(1, 2, 3, 4)

In [33]:
tup3 = tup1 + tup2

print(tup3)

('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4)

In [34]:
#Note how tup1 and tup2 have not changed. 

print(tup1)
print(tup2)

('a', 'b', 'c', 'd', 'e')
(1, 2, 3, 4)

In [35]:
#Even if we were to assign the same variable name to tup1, the ids of both objects would be different since a new object
# has been created. 

id_1 = id(tup1)

tup1 = tup1 + tup2

print(tup1)

id_2 = id(tup1)

('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4)

In [36]:
print(id_1, id_2)
print(id_1 is id_2)

2780905534784 2780904736352
False

In [ ]:
#Repetition in Tuples

In [37]:
print(tup2)

(1, 2, 3, 4)

In [38]:
print(tup2*4)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [39]:
tup3 = tup2*4

print(tup3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#Note again, that tuples are immutable themselves, repetition returns a new tuple object.

In [40]:
#Membership in tuples

tup1 = (1,'abc', [100, 200, 2012, 10.2], 'xyz')

print(tup1)
print(type(tup1))

(1, 'abc', [100, 200, 2012, 10.2], 'xyz')
<class 'tuple'>

In [41]:
print('abc' in tup1)

True

In [42]:
print(100 in tup1)

False

In [43]:
print(100 in tup1[2])

True

In [44]:
print(100 not in tup1)

True

In [45]:
print(100 not in tup1[2])

False

In [46]:
#index() method returns the index no. of the first occurrence of the element being searched.

tup1 = (1,'abc', [100, 200, 2012, 10.2], 'xyz')

print(tup1.index('xyz'))

3

In [47]:
#It returns a value error if the item is not found in the tuple. 

print(tup1.index('Python'))

ValueError: tuple.index(x): x not in tuple

In [48]:
#It takes 3 parameters

#1. The element to be found  Mandatory
#2. The start index. Optional - Defaults to 0
#3. The stop index. Optional - Defaults to length of tuple. 

tup1 = (1,'abc', [100, 200, 2012, 10.2], 'xyz')

print(tup1.index('xyz',0,-2))

ValueError: tuple.index(x): x not in tuple

In [49]:
print(tup1.index('xyz',1))

3

In [50]:
print(tup1)

(1, 'abc', [100, 200, 2012, 10.2], 'xyz')

In [51]:
print(tup1.index(1,1,-1))

ValueError: tuple.index(x): x not in tuple

In [52]:
print(tup1.index(1,0,-1))

0

In [53]:
# min() Pyton built-in method on Tuples returns the minimum value of the elements of the tuple. Can not be performed with
# different datatypes inside the tuple. 

tup1 = 1,2,3,4

print(type(tup1))
print(min(tup1))

<class 'tuple'>
1

In [54]:
#max() Python built-in method on tuples returns the maximum value of the elements of the tuple. Can not be performed with
# different datatypes(unless between float and integer) inside the tuple. 

print(max(tup1))

4

In [55]:
tup2 = 1,2,'abc','Python',10.2

print(max(tup2))

TypeError: '>' not supported between instances of 'str' and 'int'

In [56]:
tup3 = 1,2,10.2,4,1001

print(max(tup3))

#Note how even though the element at 2nd index is a float, Python can compare the values and decide the max and min values.

1001

In [57]:
tup4 = 1,2,4,[100,200,1000]

print(type(tup4))

<class 'tuple'>

In [58]:
print(min(tup4))

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
#Note how even though the elements in the list are all numbers, Python has no way of comparing an integer to a list.

In [63]:
#Unlike lists, tuples do not have a sort method. But we can use the Python built-in sorted function to sort tuples. 

tup1 = 101,11, 79, 23, 2, 82



tup2 = tuple(sorted(tup1))
print(tup1)
print(tup2)

(101, 11, 79, 23, 2, 82)
(2, 11, 23, 79, 82, 101)

In [60]:
tup2 = 101,'abc', 79, 23, 2,82

print(sorted(tup2))

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
#Note again how sorted does not work with different datatypes in the tuple.

In [64]:
#Sorted function takes 3 parameters

#1. Iterable to be sorted - Mandatory
#2. reverse key = False by default. And returns the tuple sorted in ascending order. To get a tuple in descending order 
# change this parameter to True. 
#3. Key - Optional. Sorts by value by default. However, if provided can use any function to evaluate the elements and sort
# them based on the output. 

tup3 = 'Abracadabra', 'Python', 'X', 'National Basketball Association', 'RRR'

print(sorted(tup3))

['Abracadabra', 'National Basketball Association', 'Python', 'RRR', 'X']

In [65]:
print(sorted(tup3, reverse=True))

['X', 'RRR', 'Python', 'National Basketball Association', 'Abracadabra']

In [66]:
print(sorted(tup3, key = len))

['X', 'RRR', 'Python', 'Abracadabra', 'National Basketball Association']

In [67]:
print(tup3)

('Abracadabra', 'Python', 'X', 'National Basketball Association', 'RRR')

In [68]:
#Note how the original tup3 has not been changed. Sorted returns a new tuple object which needs to be assigned to a variable
# in case we need to use the output tuple further. 

tup4 = sorted(tup3, reverse = True, key = len)

print(tup4)

['National Basketball Association', 'Abracadabra', 'Python', 'RRR', 'X']

In [75]:
#Nested Tuples - We can create tuples nested inside each other. 

tup_nest = ((1, 'jkl', [62,70,82], 21),(2, 'ghi', [91,100,63], 22),(3, 'abc', [51,42,51], 24),
           (4, 'def', [62,81,71], 20),(5, 'xyz', [55,75,86], 19),(3, 'pqr', [91,99,92], 24))

print(tup_nest)

((1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [74]:
print(sorted(tup_nest))

TypeError: '<' not supported between instances of 'int' and 'str'

In [71]:
#Note how the sorting has been performed on the first element of each nested tuple i.e. tuple - (3,'pqr', (100,100,100))
# has changed from last position to 4th. 

#However, by using functions in the key parameter of the sort function we can sort based on some other value. 

tup_sortK = sorted(tup_nest, key = lambda x : x[1])

print(tup_sortK)

[(3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (2, 'ghi', [91, 100, 63], 22), (1, 'jkl', [62, 70, 82], 21), (3, 'pqr', [91, 99, 92], 24), (5, 'xyz', [55, 75, 86], 19)]

In [72]:
tup_sortK = sorted(tup_nest, key = lambda x : max(x[2]), reverse=True)

print(tup_sortK)

[(2, 'ghi', [91, 100, 63], 22), (3, 'pqr', [91, 99, 92], 24), (5, 'xyz', [55, 75, 86], 19), (1, 'jkl', [62, 70, 82], 21), (4, 'def', [62, 81, 71], 20), (3, 'abc', [51, 42, 51], 24)]

In [ ]:
#Tuples are immutable(though as shown the elements inside tuples if are mutable, those can be mutated) so they are very
# useful in storing data like the above example where you can imagine the first item in each tuple is the roll no, the 2nd
# is the name, the third is the marks received put inside a list (which is mutable) in exam for 3 subjects and 4th is
# the age. 

#If while creating the tuple, we have kept mutable objects inside the tuple, it stands to reason that we likely wish the
# flexibility of changing the items inside that mutable object. For example - the above tuple set may be for the first
# exam of the year but we wish to be able to change the marks when we use our program for the 2nd and 3rd exam of the year
# and so forth. However, we do not expect the other elements of the tuple (such as roll no, name and age to change).

#NOTE - THIS IS NOT A RULE BUT A GENERAL GUIDELINE FOR UNDERSTANDING THE USE OF TUPLES.

In [76]:
#Mutating a tuple - is not possible. But we can - with a lot of manipulation change the items in the tuple object and create
# a new one - if our application demands it. E.g

#I wish to change the name of the student with roll call no. 1 to 'kkk'.

tup_nest = ((1, 'jkl', [62,70,82], 21),(2, 'ghi', [91,100,63], 22),(3, 'abc', [51,42,51], 24),
           (4, 'def', [62,81,71], 20),(5, 'xyz', [55,75,86], 19),(3, 'pqr', [91,99,92], 24))
print(tup_nest)

name_c = tup_nest[0][:1]+ ('kkk',) +tup_nest[0][2:]

print(name_c)

((1, 'jkl', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))
(1, 'kkk', [62, 70, 82], 21)

In [82]:
tup3x = tup_nest[1:]

tup_nest_rev = (name_c,) + tup3x

print(tup_nest_rev)

((1, 'kkk', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [83]:
#Of course, as one gets more proficient, we could do away with the intermediate variable and object and save space. 

name_c1 = (tup_nest[0][:1]+ ('kkk',) + tup_nest[0][2:],) + tup_nest[1:]

print(name_c1)

((1, 'kkk', [62, 70, 82], 21), (2, 'ghi', [91, 100, 63], 22), (3, 'abc', [51, 42, 51], 24), (4, 'def', [62, 81, 71], 20), (5, 'xyz', [55, 75, 86], 19), (3, 'pqr', [91, 99, 92], 24))

In [ ]:
#Aliasing Tuples

In [84]:
tup1 = 1,2,3,[10,20,30]
print(tup1)
print(type(tup1))

(1, 2, 3, [10, 20, 30])
<class 'tuple'>

In [85]:
tup2 = tup1

print(tup1)
print(tup2)

(1, 2, 3, [10, 20, 30])
(1, 2, 3, [10, 20, 30])

In [ ]:
#Since tuples are immutable only the mutable objects inside them can be mutated, there really is no point in making a 
# shallow copy of a tuple and does not have a copy method

In [87]:


tup3 = tup1[:]
print(tup1)
print(tup3)

(1, 2, 3, [10, 20, 30])
(1, 2, 3, [10, 20, 30])

In [ ]:
print(id(tup1), id(tup3))#Nor did the slicing work.

In [ ]:
tup4 = tup1[1:]

print(tup4)

print(id(tup1), id(tup4))

In [ ]:
#Note however, that even though tup4 and tup1 are different objects they still contain only a memory reference to the last
# list object in them. So, a change in that list object will reflect in both of them. They exact same problem we had with
# shallow copy in lists. 

tup1[3][1] = '2x2x'

print(tup1)
print(tup4)

In [90]:
#So, just like lists (and dictionaries and sets), if we need copies of the original object where even the compound objects
# should be recursively copied with the elements contained in them - use the deepcopy function from the copy module. 

import copy
tup1 = (1,2,3,[10,2020,30])

tup2 = copy.deepcopy(tup1)

print(tup1)
print(tup2)

(1, 2, 3, [10, 2020, 30])
(1, 2, 3, [10, 2020, 30])

In [91]:
tup1[3][1] = 20201

print(tup1)
print(tup2)

(1, 2, 3, [10, 20201, 30])
(1, 2, 3, [10, 2020, 30])

In [95]:
#Tuple packing and unpacking. In tuples there is a very power tuple assignment feature called unpacking. 

#Packing a tuple is nothing but putting elements in a tuple. We have already seen the ways to 'pack' a tuple. 

tup1 = 1,2,3,4
print(type(tup1))

tup2 = (10,20,30,40)
print(type(tup2))

tup3 = tuple('abcde')
print(type(tup3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [96]:
#Unpacking is assigning tuple values to variables i.e. multiple variables on the left corresponding to the the values to
# be assigned on the right. 

p,q,r,s = tup1

print(p,q,r,s, sep= '\n')

1
2
3
4

In [97]:
print(tup2)

p,q,r,s = tup2

print(p,q,r,s, sep= '\n')

(10, 20, 30, 40)
10
20
30
40

In [98]:
print(tup3)
p,q,r,s,t= tup3

print(p,q,r,s,t, sep= '\n')

('a', 'b', 'c', 'd', 'e')
a
b
c
d
e

In [99]:
#In case we want only a couple of values assigned and the rest to be assigned to a single variabel(list by default) we
# can use the * symbol in front of the variable to show multiple arguments passed (*args)

print(tup3)

('a', 'b', 'c', 'd', 'e')

In [ ]:
p,q, *s = tup3

print(p,q,s, sep= '\n')

In [102]:
p,q,*s = tup3

s = tuple(s)
print(p,q,s, sep = '\n')

a
b
('c', 'd', 'e')

In [100]:
#Note, the order of the assignment of the regular variables and the *variable doesnt matter. First the n number of elements
# in tuple (n being equal to the number of regular variables passed) are passed to the regular variables and all the rest
# of the values are assigned to a single * prefixed variable. 

p,*s,q,r = tup3

print(p,s,q,r, sep = '\n')

a
['b', 'c']
d
e

In [101]:
p,*s,*t = tup3

print(p,s,t, sep = '\n')

SyntaxError: two starred expressions in assignment (<ipython-input-101-28e8311adcd5>, line 1)

In [ ]:
#using this logic of tuple unpacking we can assign a single tuple with all the parameters to be used in a function into
# the function prefixed with a star and Python will automatically unpack the tuple and assign values to the parameters. 

def just_a_func(x,y,z,p,q):
    return p+q*(x+y*z)

func_tup = (2,2,3,'Rikki ', 'Rocks ')

just_a_func(*func_tup)

#Do not forget the star in front of the tuple before passing into the function

In [ ]:
# We can also use the * in front of a parameter in a function definition when the number of elements (parameters) for the
# function are not known or defined. We will discuss this in deep in Functions. But for now, this is a simple idea.

In [ ]:
# def func_lst_r(*param):
#     for i in param:
#         print(i*20)
        
# lst_r = list(range(10))

# func_lst_r(*lst_r)

# #Note how the * in front of both the function parameter and the argument to the function call both have * prefixed - in the
# # first case - * in front of parameter - we are telling the program - we do not know how many elements will be passed to 
# # the function. In the second case - * in front of the argument - we are asking Python to unpack the elements in the list
# # into the variables defined in the function parameters. Since we already prefixed the parameters with a star signifying
# # unpack how many ever elements show up - everything works fine.

In [ ]:
#Note what happens when either of the * is missing. 

# def func_lst_r(param):
#     for i in param:
#         print(i*20)
        
# lst_r = list(range(10))

# func_lst_r(*lst_r)

In [ ]:
#Here we see the program throwing us an error saying only one argument was expected but there were 10 elements unpacked from
# the list.

In [ ]:
# def func_lst_r(*param):
#     for i in param:
#         print(i*20)
        
# lst_r = list(range(10))

# func_lst_r(lst_r)

In [ ]:
# # Of course, in this simple program we could have just not any *s and it would work but this was just an example of packing
# # and unpacking. 

# def func_lst_r(param):
#     for i in param:
#         print(i*20)
        
# lst_r = list(range(10))

# func_lst_r(lst_r)

In [ ]:
# #or the range object directly

# def func_lst_r(param):
#     for i in param:
#         print(i*20)
        
# lst_r = range(10)

# func_lst_r(lst_r)

In [ ]:
#Aliasing and cloning/copying in Tuples

#Since a tuple is immutable, but only its elements can be mutable - the effects of Aliasing and copying are the same on
# a Tuple. However, if a different object which does not get affected by change to mutable objects in a tuple is required,
# then a deepcopy of the original object would be required. 

p = 1,2,[10,20,30],4

q = p

r = p[:]

import copy
s = copy.copy(p) #Note tuples do not have a copy method.

t = copy.deepcopy(p)

print(p,q,r,s, sep = '\n')

In [ ]:
p[2][1] = 2020

print(f'Original object p : {p}.', '\n')
print(f'Aliased variable q : {q}.', '\n')
print(f'Sliced copy r : {r}.', '\n')
print(f'Copy of p : {s}.', '\n')
print(f'Deepcopy of p : {t}.', '\n')

In [ ]:
#So as we can see - Aliasing and copying a tuple has the same effect. Only Deepcopy