# Data type - Lists

In [1]:
#Lists are probably the most commonly used of the derived data types. They allow one to store a collection of elements
# in a sequential manner and perform a host of operations on the elements as well as on other lists. They are one of the
# most versatile datatypes.

# Arrays also allow one to store many datatypes and perform operations on the elements in them. However, arrays limit one
# to store only one datatype in them. The operations are faster in arrays and if we know that we will only be saving one
# type of data in the object in a structured manner - arrays might be the way to go. But more on arrays later. 

# Lists have the following properties:

#1. They are a derived datatype.
#2. They are sequential and ordered i.e. stored in the order of input (insertion of element not withstanding).
#3. Lists themselves are mutable i.e. the elements inside a list can be changed.
#4. They allow mutable elements to be stored in them. e.g. we can store a set or dictionary (and even another list) in a
# list.
#5. They allow nesting i.e. a list in another list.
#6. They allow indexing and slicing.
#7. They are iterable i.e. one can go through each element in a list and perform an operation on each element.

In [2]:
#Initialising lists

x = [1,2,3,4,5]

print(x)
print(type(x))

#To initialise a list, simply enclose the elements of the list in square brackets.

[1, 2, 3, 4, 5]
<class 'list'>

In [3]:
x = []

#Empty square brackets can be used to initialise an empty list.

#When would we need an empty list? When we know that we shall be filling the list object with elements and would like to
# be able to perform list operations on that object.

# For e.g.I have certain values and would like to multiply each one by 2 before appending it to the list. We can use the
# append function to do so. (We whall discuss in detail about the append function a bit later)

x.append(2*2)
x.append(3*2)
x.append(4*2)

print(x)

[4, 6, 8]

In [4]:
#If I had not initialised the list object - I would not have been able to append. And also, if I had initialised a different
# datatype.

y.append(2*2)

NameError: name 'y' is not defined

In [ ]:
y = set()

y.append(2*2)

In [ ]:
#We could also initialise a list by calling list() constructor on an iterable object. This is optional. Calling list without
#any parameters initialises an empty list. 

x = list()
print(x)
print(type(x))

In [ ]:
x = 1,2,3,4
print(type(x))

In [ ]:
y = list(x)

print(y)
print(type(y))
print(y[0])

In [ ]:
y = [x]

print(y)
print(type(y))
print(y[0])
print(type(y[0]))

In [ ]:
#Note here how when simply enclosing the different datatype in square brackets put the variable as ONE element in the list.

In [ ]:
z = {1:100, 2:200, 'a':33, None:True}
print(type(z))

In [ ]:
zz = list(z)

print(zz)
print(type(zz))

#Do note how the list has only taken the keys of the dictionary as its elements.

In [ ]:
print(zz[0])

In [ ]:
x = 1,2,3,4
print(type(x))

In [ ]:
zzz = [x]

print(zzz)
print(type(zzz))
print(type(zzz[0]))

In [ ]:
print(zzz[0])
print(zzz[0][2])

In [ ]:
zzz.append(zz)
zzz.append(z)
zzz.append(['one', 'two', 'three'])
print(zzz)

print(len(zzz))

In [ ]:
#In short, please remember this difference while trying to create lists - do you want to change the datatype of a sequential
# object or just put that iterable itself in a list.

In [ ]:
x = []

a = [1,2,3,4]
b = list('abcde')
c = ('one', 'two','three')
d = {'A':100, 'B':200}

In [ ]:
x.append(2*100)

print(x)

In [ ]:
x.append(a)
print(x)

In [ ]:
x.append(b)
print(x)

In [ ]:
x.append(c)
print(x)

In [ ]:
x.append(d)
print(x)

In [ ]:
print(len(x))

In [ ]:
s = ['abc']

print(s)

In [ ]:
ss = list('abc')

print(ss)

In [ ]:
#Same thing happened here. Since string is also sequential, in the first example, a list was initialised with one element, 
# the object 'abc'. The second time when we called the list constructor - the list understood that each individual object
# of the 'abc' object was to be put in a list.

In [ ]:
#Indexing and slicing can be performed on a list and works exactly as indexing and slicing of other sequential objects. 
# We have already seen this in the string datatype.

lst1 = [1,2,3,4,5]

print(lst1[2])

In [ ]:
# A list is a mutable datatype. We can hold mutable datatypes in a list.

orig = [1,2*500, 'P'+'y'+'t'+'h'+'o'+'n', {'a':1, 2:200}, ('Amar','Akbar','Anthony'), {'Ironman', 'Krish'}]
print(orig)

In [ ]:
# Getting object at index no. 4

idx1 = orig[4]
print(idx1)
print(type(idx1))

In [ ]:
# Getting object at 1st index of object at index no. 4
idx2 = orig[4][1]
print(idx2)

In [ ]:
idx3 = orig[2][3]
print(idx3)

In [ ]:
orig = [1,2*500, 'P'+'y'+'t'+'h'+'o'+'n', {'a':1, 2:200}, ('Amar','Akbar','Anthony'), {'Ironman', 'Krish'}]

#Getting object at 2nd index of object at 1st index of object at 4th index of original list object

idx4 = orig[4][1][2]

print(idx4)

In [ ]:
#Nested lists. Since list is a mutable datatype and can itself hold mutable datatypes - it goes to show that lists can
#hold lists. 

lst = [1,2,3,4,5,[6,7,[8,9,10], 11, 12, [14,[21,22],27]],100,111]
       
print(lst)

In [ ]:
print(lst[5])

In [ ]:
print(lst[-1])

In [ ]:
print(lst[5][5])

In [ ]:
print(lst[5][5][1])

In [ ]:
print(lst[5][5][1][0])

In [ ]:
#Slicing on lists

orig = [1,2*500, 'P'+'y'+'t'+'h'+'o'+'n', {'a':1, 2:200}, ('Amar','Akbar','Anthony'), {'Ironman', 'Krish'}]

slc1 = orig[:]
print(slc1)

In [ ]:
slc2 = orig[::2]
print(slc2)

In [ ]:
slc3 = orig[:5:3]
print(slc3)

In [ ]:
print(type(slc3))

In [ ]:
#As you can see - slicing a list outputs a list object.

In [ ]:
z = orig[:-2]
print(z)
print(type(z))

In [ ]:
#As usual the concepts of negative indexing remain the same. 

lst_alpha = list('abcdefghij')
print(lst_alpha)

In [ ]:
lst_alpha_rev = lst_alpha[::-1]
print(lst_alpha_rev)

In [ ]:
x = 'malayalam'

if x == x[::-1]:
    print('True')

In [ ]:
lst_alpha_rev2 = lst_alpha[-5:-2]
print(lst_alpha_rev2)

In [ ]:
lst_alpha_rev3 = lst_alpha[-2:-5]
print(lst_alpha_rev3)

In [ ]:
lst_alpha_rev4 = lst_alpha[-2:-5:-1]
print(lst_alpha_rev4)

In [ ]:
print(lst)

In [ ]:
#Slicing and item assignment can be performed together. 

lst[2:4] = 11,12

print(lst)

In [ ]:
lst[2:6] = 11,12

print(lst)

In [ ]:
#Note how while slicing we picked up 4 elements but only assigned two new elements? Basically, we told Python to pick up
# a certain slice of the list and reassign the values based on what we are giving it - irrespecitive of if the number of
# elements match. 

lst[2:4] = 54,56,58,60
print(lst)

In [ ]:
lst[2:4] = list(range(53,58))
print(lst)

In [ ]:
#Iteration over a list. 
print(z)
for x in z:
    print(x)

In [ ]:
lst1 = [0,1,2,3,4,5]

for x in lst1:
    print(x*2)

In [ ]:
#Repetition of a list

lst2 = lst1*5

print(lst1)
print(lst2)

In [ ]:
lsta = list('abcd')*5

print(lsta)

In [ ]:
#Concatenation of lists

orig_1 = ['a','b','c','d']
orig_2 = ['e', 'f', 'g', 'h']
lst3 = orig_1 + orig_2

print(orig_1)
print(orig_2)
print(lst3)

In [ ]:
lst3 = ['a','b','c','d'] + ['e', 'f', 'g', 'h']

print(lst3)

In [ ]:
lst4 = ['a', 'b', 'c', 'd'] + ['efgh']

print(lst4)

In [ ]:
lst5 = ['a','b','c','d'] + list('efgh')

print(lst5)

In [ ]:
#Membership operations on a list

print('d' in lst5)

In [ ]:
print('z' in lst5)

In [ ]:
print('d' not in lst5)

In [ ]:
print('z' in lst5)

In [ ]:
print(['d','e'] in lst5)

In [ ]:
print(['d','e'] not in lst5)

In [ ]:
lst6 = ['a', 'b', 'c', ['d', 'e'], 'f', 'g']

print(['d', 'e'] in lst6)

In [ ]:
print('d','e' in lst5)

#Note here how though it takes two elements as the elements to search - it actually throws an unexpected output. 

#For all practical purposes, please assume that the in operator takes only one element to be searched at a time.

In [ ]:
if('z' in lst5):
    print('True')

In [ ]:
#Length function on lists. As with any other derived datatype - the length function returns the length of the object<in this
#case the list. 

print(lst1)
print(len(lst1))

In [ ]:
print(f'List is. {lst2}. \nIts length is {len(lst2)}')

In [ ]:
print(f'List is. {lst3}. \nIts length is {len(lst3)}')

In [ ]:
print(f'List is. {lst4}. \nIts length is {len(lst4)}')

In [ ]:
print(f'List is. {lst5}. \nIts length is {len(lst5)}')

In [ ]:
# One of the most common functions used with lists is the append function which adds exactly 1 object to the end of the
# list. 

print(lst5)

In [ ]:
lst5.append('i')

print(lst5)

#It takes exactly one parameter - an object of any datatype to add to the end of the list. Any more (or less) objects than 
#1 will throw an error.

In [ ]:
lst5.append(list(['i', 'j']))
print(lst5)

In [ ]:
lst5.append('ij')
print(lst5)

In [ ]:
lst5.append(('i', 'j'))
print(lst5)

In [ ]:
#Append method modifies the ORIGINAL list and doesnt return anything. 


x = []

for i in range(5):
    x.append(i)

In [ ]:
x = [1,2,3,4]
y = x + [5,6,7,8]

a = id(y)
y += [9,10]
b = id(y)
print(y)

z = x +

In [ ]:
print(a, b)

In [ ]:
lst6 = lst5.append('Try this out')

print(lst6)
print(lst5)

In [ ]:
#If you recall, while performing operations like strip, center, rjust etc on string - the methods would return NEW string
# objects. But in lists we CAN modifiy the original list. Why is this so?

##### Because Strings are immutable datatypes while lists are mutable.

In [ ]:
#Before we move on to more methods which can be performded on the list datatype, I would like to illustrate 1 neat trick
# and 1 special syntax for use with lists(and some other derived datatypes)

In [ ]:
#A neat trick which is very commonly used is to use a range function to get the index numbers of the items in a list.

#If you recall, the range object returns a range <object> with numbers in a sequence with specified parameters. 
#We also know that lists support indexing. 
#And that lists and range both support iteration.

#We can use this to get the index numbers of each element inside a list. 

lst1 = list('abcdefghij')
print(lst1)

for element in lst1:
    print(element)

In [ ]:
#However, if I only wanted the index numbers of each of the elements in the lst1?

for indexno in range(10):  #Here length of lst1 is 10
    print(indexno)

In [ ]:
# We could simplify this, since we have learnt that length function returns the length of a list

for indexno in range(len(lst1)):
    print(indexno)

In [ ]:
# And since we know that indexing works on lists, to get each element of the lst1 I could use indexing to get the element
# at that position. 
print(lst1)

In [ ]:
for idxE in range(len(lst1)):
    print(lst1[idxE])

In [ ]:
# But why go in a round about way to get the element at a certain position of a list?
# Sometimes we need to work on an element in a list(or any other sequential datatype) based on their position in the list.

lst1 = [17,20, 30, 11]

#Add 1 to every element in lst1 and print it. 

for elem in lst1:
    print(elem+1)
    
#Great! Problem solved.

In [ ]:
#Add 1 to every 2ND element in lst1.

lst1 = [17,20, 30, 11]

In [ ]:
for elem in range(0,len(lst1),2):
    print(f'Index number we are working on {elem}.')
    print(f'Original value of element at that index position. {lst1[elem]}.')
    print(f'New output = {lst1[elem]+1}.\n-----------------------------')

In [ ]:
print(lst1)

In [ ]:
# Add 1 to the elements in lst 1 using a for loop. You can use a new list. Fairly easy?

lst2 = []

for x in lst1:
    lst2.append(x+1)

print(lst2)

In [ ]:
# # Now lets try the same thing. But we cannot use a new list. 

# lst1 = [17,20, 30, 11]

# for x in lst1:
#     lst1.append(x+1)
    
# print(lst1)

In [ ]:
#Note how this throws us into an infinite loop? Every time we append an item to lst1 - the length of list 1 grows and the
#for loop continues to have to add 1 to the new elements created. So, thats out!

In [ ]:
# #How about if we try to change the value of the elements of lst1 in place? Try to reassign the value?

lst1 = [17,20, 30, 11]

for x in lst1:
    x += 1
    print(x)
print(lst1)

#Oops! We did update new values to temporary variable x, but that did us no good - we could not assign that value to 
# the list we were running the for loop on. But if we were to assign the new value of x to the index position of lst1
# that would solve our problem right?

In [ ]:
#We could individually assign the values of the list based on their index position. 

lst1[0] += 1
lst1[1] += 1
lst1[2] += 1
lst1[3] += 1

print(lst1)

In [ ]:
#However using the concept of index positions, item assigment(since list is mutable) and the range function, we are able
# to accomplish this easily.

lst1 = [17,20,30,11]

for x in range(len(lst1)):
    lst1[x] = lst1[x] +1  
print(lst1)

In [ ]:
# So, important takeaways from this excercise of using range functions with lists:

# 1. We can use the range function to act as a proxy for the index numbers of a list.

### PLEASE PLEASE understand that the range function is NOT a function that returns the index numbers of a list. What it 
# returns is a range of numbers(elements) between specified parameters. We then use this range object as a proxy for 
# index numbers of a list. There is a distinction between these two and it has taken me hours with individual
# students making them unlearn and relearn their understanding of this idea. 

# 2. We can use the index numbers of a list, when we cannot (or do not want to) work on the elements of a list directly,
# but need to perform operations on their index positions.

In [ ]:
str1 = ' may twelfth batch is a great batch'

str2 = ''

for x in range(len(str1)):
    if str1[x-1] == " ":
        str2 += str1[x].upper()
    else:
        str2 += str1[x]
print(str2)

In [ ]:
# A cool syntax to use with lists is called list comprehension. It is short form of a for loop with lists. 
print(lst1)

In [ ]:
lst2 = [x+1 for x in lst1]

print(lst2)

In [ ]:
lst3 = []
for x in lst1:
    lst3.append(x+1)
print(lst3)

In [ ]:
#It returns a new list object based using the for loop in one line of efficient easy code. 

#it works on any iterable. 

str1 = 'abcdef'
lst3 = [x+'!' for x in str1]
print(lst3)

In [ ]:
# We can use the if and else conditions along with a list comprehension. 

lst4 = [1,12,11,24,17]

lst5 = [x + 1 if x%2 == 1 else x for x in lst4]

print(lst5)

In [ ]:
print(lst4)

In [ ]:
lst6 = [x+1 for x in lst4 if x%2 == 1]

print(lst6)

In [ ]:
#Note importantly how if we are using both if and else then if else condition comes before the for loop otherwise if only using if
# condition this comes after teh for loop. 
# Also note that do not specify the else condition then for elements that do not satisfy the if condition, nothing is done
# and they are not included in the new list.

In [ ]:
print(lst1)

In [ ]:

for x in lst1:
    if x%2 == 0:
        print(x)

    if x%4 == 0:
        print(x)

In [ ]:
# You can use multiple if statements in the list comprehension.

print(lst5)

lst7 = [x+1 for x in lst5 if x%2 ==0 if x%4==0]
print(lst7)

# The expressions that satisfy all the if conditions will be output to the new list. 

#However, you cannot use multiple if statements with an else statement. There is a workaround to this which we will 
# discuss when discussing loops and conditional statements further in the course.

In [ ]:
#At the time of discussing loops, we shall also look at nested for loops for normal lists and also their use in list
# comprehension.

In [ ]:
#So, from what we have learnt we can easily use the range function to return a list of numbers to us.

# normal for loop. 

lst = []
for x in range(10):
    lst.append(x)
    
print(lst)

In [ ]:


lst = []
for x in range(50,70,2):
    lst.append(x)
    
print(lst)

In [ ]:
#And using list comprehension

lst = [x for x in range(20)]
print(lst)

In [ ]:
lst = [x for x in range(50,70,2)]
print(lst)

In [ ]:
#Note how using list comprehension - I did not have to reassign variable lst to a new empty list? What would happen in
# the normal for loop if I were to not reassign a new empty list to lst? 

lst = []

for x in range(20):
    lst.append(x)
print(lst)

for x in range(50,70,2):
    lst.append(x)

print(lst)

In [ ]:
#While the above examples were just to understand the use and differences between for loops with lists and list
# comprehension, the easiest way to actually create the above lists would be: 

lst = list(range(20))

print(lst)

In [ ]:
lst = list(range(50,70,2))
print(lst)

In [ ]:
# You would probably use for and lists or list comprehensions to perform much more complex tasks than just creating
# a list of numbers.

In [ ]:
# Delete, remove and pop - Uses and differences in Python

# Delete is a Python keyword and works on deleting any Python object.

In [ ]:
lst = list(range(1,10))

print(lst)

In [ ]:
print(lst)

In [ ]:
# With lists and list indexing it will remove the element at specified index position of the list

del(lst[2])
print(lst)

#Note here how it deleted the object at the 2nd index position and not the value 2 inside the list.

In [ ]:
# With no index number provided it will delete the whole list object. 

del(lst)

print(lst)

In [ ]:
lst = [1, 2, 54, 55, 56, 57, 58, 60, 100, 111]
print(lst)

In [ ]:
del(lst[2:4])

In [ ]:
print(lst)

In [ ]:
lst = list(range(1,10))

lst.append(20)
print(lst)

print(len(lst))

In [ ]:
del(lst[20])

#Note here how we get an IndexError - since len of list is only 10

In [ ]:
lst = list(range(1,10))
print(lst)

In [ ]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]

del(lst1, lst2)

In [ ]:
print(lst1)

In [ ]:
print(lst2)

In [ ]:
x = 1001
y = 2002

lst1 = [1,2,3,x, y, 4]

print(lst1)

In [ ]:
del(lst1[3])

print(lst1)

In [ ]:
print(x)

#Note how the object x is deleted from list but not from memory.

In [ ]:
del(x)
print(x)

In [ ]:
x = 1001

lst1.append(x)
print(lst1)

In [ ]:
del(x)
print(x)

In [ ]:
print(lst1)

#Note how even though object is supposedly removed from memory, since there is another reference to it inside the list
#object, it remains in memory i.e. it has not been deleted.

In [ ]:
#Delete can also be used to delete a range of objects from the list

lst1 = list(range(1,10))
print(lst1)

In [ ]:
del(lst1[1:4])

print(lst1)

In [ ]:
lst.remove(2)

print(lst)

In [ ]:
#Note here - how remove method removed the element with the value of 2.

In [ ]:
lst = list(range(1,10))
lst.append(20)
print(lst)

In [ ]:
lst.remove(20)

print(lst)

In [ ]:
# Note here how lst was able to remove the object with the value 20 from the list. 

#Both delete and remove perform the operation on the original list and return nothing. 

lst = list(range(1,10))

lst_del = del(lst[2])

print(lst)
print(lst_del)

#Since del is a keyword and not a method(function) on the list datatype - we immediately get a syntax error. You cannot
#assign a keyword operation to a variable.

In [ ]:
lst = list(range(1,10))

lst.remove(2,5)

In [ ]:
lst = list(range(1,10))
print(lst)

In [ ]:
lst_del = lst.remove(2)

print(lst)

In [ ]:
print(lst_del)

In [ ]:
#As expected, the remove operation has been performed on the original list and this is reflected in the original list. 
# However, since the remove method on lists does not return anything, we receive None as contained in variable lst_del.

In [ ]:
#Pop method on lists in Python removes the element and the specified index value in a list. It takes one parameter, index 
# value of the element to be removed. If parameter left empty it defaults to -1 or the last element in the list. 

lst = list(range(1,10))
print(lst)

In [ ]:
lst.pop()

print(lst)

In [ ]:
lst.pop(2)
print(lst)

In [ ]:
#However, the pop method removes the element from the original list AND returns the element that was at the specified index
# and was removed. 

lst = list(range(1,10))
print(lst)
popped = lst.pop()

print(f'List after popping {lst}')

In [ ]:
print(f'Popped = {popped}.')

In [ ]:
lst = list(range(1,10))
print(lst)
popped = lst.pop(5)

In [ ]:
print(f'List after popping {lst}')
print(f'Popped = {popped}.')

In [ ]:
#Sort method on Lists - sorts the given list in ascending order (by default). For strings does comparison by unicode values
# character by character

In [ ]:
lst1 = [17, 12, 39, 11, 9, 18]

lst2 = lst1.sort()
print(lst1)
print(lst2)

In [ ]:
#As we can see - the sort is performed on original list which is modified and there is no return value. 

lst2 = ['a', 'Python', 'XYZ']

lst2.sort()
print(lst2)

#Note here how Python and XYZ are before the alphabet a. This is because the unicode values of capital P and X are lower
#than the unicode value for a.

In [ ]:
lst2 = ['a', 'Python', 'xYZ']

lst2.sort()
print(lst2)

In [ ]:
#Sort can take in 2 Parameters. 

#1. Key - This can take in a new function to calculate the values to be sorted on. Optional
#2. reverse - Is False by default but if set to True - then will return the list in descending order. 

lst2 = [17, 24, 1001, 2123, 3, 82]

lst2.sort(reverse = True)

print(lst2)

In [ ]:
lst3 = ['a', 'Python', 'xYZ']

lst3.sort(reverse = True)

print(lst3)

In [ ]:
#The keyword can take any type of function to evaluate the elements. E.g. len() function. 

lst4 = ['a', 'Python', 'xYZ']

lst4.sort(key = len)

print(lst4)

In [ ]:
lst4.sort(reverse = True, key = len)
print(lst4)

In [ ]:
lst4x = ['a', 100, 'Python', 'xYZ', 21]

lst4x.sort()
print(lst4x)

#Sort not supported between different datatypes.

In [ ]:
#However, as noticed - the sort method on lists - modifies the original list and does not return anything. 
#If original list order needs to be maintained and/or new object with items sorted is required, use the Python built-in 
#method sorted()

lst5 = ['a', 'Python', 'xYZ']

lst6 = sorted(lst5)

print(lst5)
print(lst6)

In [ ]:
#Sorted built-in method takes in 3 parameters.

#1. Iterable to be sorted - In this case, a list - Mandatory
#2. Reverse = Set to False as default and returns the list sorted with the elements in ascending order. If set to True, will
# return the elements in descending order. 
#3. Key = A different function on which to evaluate the elements and sort them accordingly. 

lst7 = sorted(lst6, key = len, reverse = True)

print(lst7)

In [ ]:
def funct_sq_rt(a):
    return a%5

print(funct_sq_rt(24))

In [ ]:
lst3 = [18,12,16]

lst4 = sorted(lst3, key = funct_sq_rt)

print(lst4)

In [ ]:
#Reverse method on lists.  

lst = list('abcdefghij')

print(lst)

lst.reverse()
print(lst)

In [ ]:
#It performs the operation on the original list object and returns nothing.

lst = list('abcdefghij')
print(lst)

In [ ]:
lst1 = lst.reverse()
print(lst)
print(lst1)

In [ ]:
#Reversed iterator. If however, the original list order has to be maintained and/or a new object with elements reversed is
# required - use the reversed built-in function of Python to create a reversed iterator object and using list comprehension
# create a new list. 

lst = list('abcdefghij')
print(lst)

lst2 = [x for x in reversed(lst)]

print(lst)
print(lst2)

In [ ]:
rev_it = reversed(lst)

print(rev_it)
print(type(rev_it))

In [ ]:
#Aliasing and cloning

x = [x * 10 for x in range(1,10)]
print(x)

In [ ]:
#Aliasing on lists - is insitialisng a new variable name to the same list object stored in the memory. 

y = x

print(y)
print(x is y)
print(id(x), id(y))

#When we do y = x, all we are doing is adding a new variable name which is pointing to the same object stored in variable.
# This is called aliasing

In [ ]:
y = 100

x = y

print(x)

In [ ]:
#Any changes to x will also be reflected on y. 

x[2] = 35

print(x)
print(y)

In [ ]:
print(x is y)
print(id(x), id(y))

In [ ]:
#If a new object with the same elements as x is required, we have two options: 

#The by now familiar and popular - slicing

y = x[:]

print(x)
print(y)

In [ ]:
print(x is y)
print(id(x), id(y))

In [ ]:
#Changing x (or y) does not affect the other

x[2] = 37

print(x)
print(y)

In [ ]:
y = x[:]

print(x)
print(y)

In [ ]:
y[2] = 73

print(x)
print(y)

In [ ]:
x = [1020, 2010, 'Python$']

y = x[:2]

print(x)
print(y)

In [ ]:
print(x is y)
print(id(x), id(y))

In [ ]:
print(id(x[0]))
print(id(y[0]))

In [ ]:
#Another way is to use the copy method in List class/datatype.

x = [x*10 for x in range(10)]
y = x.copy()

print(x)
print(y)

In [ ]:
print(x is y)
print(id(x), id(y))

In [ ]:
x[2] = 37

print(x)
print(y)

In [ ]:
y = x.copy()

print(x)
print(y)

In [ ]:
y[2] = 73

print(x)
print(y)

In [ ]:
x = [1000, '#', ['a',100, 200,2]]
y = x

print(x)
print(y)

In [ ]:
for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
x[2][0] ='Python'

print(x)
print(y)

In [ ]:
x = [1000, '#', ['a',100, 200,2]]
y = x[:]

print(x)
print(y)

In [ ]:
for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
y[1] = '$'

print(x)
print(y)

In [ ]:
for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
x = [1000, '#', ['a',100, 200,2]]
y = x.copy()

print(x)
print(y)

In [ ]:
for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
y[1] = 200

print(x)
print(y)

In [ ]:
for a in range(len(x)):
    print(f'Item at index {a} is {x[a]}.')
    print(f'Items in x and y are the same object : {x[a] is y[a]}.')

In [ ]:
# The above methods of slicing or using the built in copy function is called copying. 

# Or more precisely creating a 'Shallow' copy.

# Shallow copying does not work on compound objects since for the compound objects(sequential) objects y also stores the
# same memory id as the x and changing the object at that memory location in x changes the object at that memory location in y as
# well. 

x = [1000, '#', ['a',100, 200,2]]
y = x.copy()
print(x)
print(y)

In [ ]:
x[2][1] = 1001
print(x)
print(y)

In [ ]:
import copy

In [ ]:
x = [1000,'#', ['a', 100, 200, 2]]

y = copy.deepcopy(x)

print(x)
print(y)

In [ ]:
x[2][2] = 2001

print(x)


print(y)

In [ ]:
x = [1,2,3,4, [5,6,7,8]]

y = x.copy()

z = copy.deepcopy(x)

print(x,y,z, sep ='\n')

print(id(x[-1]) is id(z[-1]))

In [ ]:
x[1] = 2020

print(x)
print(y)
print(z)

In [ ]:
x[4][1] = 60

print(x)
print(y)
print(z)

In [ ]:
x[2][0] = 'Python'

print(x)
print(y)

In [ ]:
#Note that copy module also has a copy method but the functioning is exactly as the built-in copy method - and it creates
# a shallow copy and is rarely used. It MAY be used to highlight that a shallow copy is being created. But even then it is
# easier to use the built-in copy method and just comment a '#Shallow copy'

In [ ]:
#Deepcopy on Dictionaries

xd = {'a': 100, 'b':{'p': [300, 700, 900]}, 'c':'Python' }

yd = copy.deepcopy(xd)

xd['a'] = 1001

print(xd)
print(yd)

In [ ]:
xd['b']['p'][1] = 7001

print(xd)
print(yd)

In [ ]:
#Deepcopy on Sets

xs = {870, 901, 1012, 'Python'}

ys = copy.deepcopy(xs)

xs.remove(1012)

print(xs)
print(ys)

In [ ]:
xs.add(2024)

print(xs)
print(ys)

In [ ]:
#Deepcopy on Tuples

xs = ('a', 'b', [300, 500, 800])

ys = copy.deepcopy(xs)

xs[2][1] = 501

print(xs)
print(ys)

In [ ]:
#Functions for use with list datatype

#Sum function
lst1 = list(range(1,10))
print(lst1)

In [ ]:
x = sum(lst1)
print(x)

In [ ]:
# Sum function in Python can take in two parameters - 

# 1. The iterable to be summed (e.g. list, tuple, set)
# 2. The start - This number will be added to the sum - basically where to start summing from. 

# All the elements in the iterable must be numbers. 

x = sum(lst1, 1000)
print(x)

In [ ]:
y = [101, 201, 'Python', 1001]

z = sum(y)

print(z)

In [ ]:
print(y)

In [ ]:
#Index function. 

#Returns the first occurrence of the element in the list. Takes 3 parameters

#1. The element to be searched.
#2. Start - the index number of where to start search from. Optional - defaults to 0 if not provided
#3. End - the index number of where to end. Optional - defaults to index number of end of list if not provided.

# If the element to be searched is not present - it returns a ValueError

print(y.index('Python'))

In [ ]:
x = y.index('Python')

print(x)

In [ ]:
x = y.index('Python',2)

print(x)

In [ ]:
y = [100,200,'Python',2+3J, 1001, 'abc','Python']

x = y.index('Python', 2, 5)

print(x)

In [ ]:
print(y)

In [ ]:
x = y.index('Python',3)`

print(x)

In [ ]:
x = y.index('Python',3,len(y))

print(x)

In [ ]:
x = y.index('Python',,len(y))

print(x)

# As always, without providing the start index, we cannot provide the stop index

#Unlike strings - No rindex method.

In [ ]:
#Min and Max functions

lst1 = [1,2,7,5,11,4]

print(min(lst1))

In [ ]:
print(max(lst1))

In [ ]:
a = min(lst1)
print(a)

In [ ]:
b = max(lst1)
print(b)

In [ ]:
lst_alpha = ['Python', 'a', 'Seventy-Two']

print(min(lst_alpha))

In [ ]:
print(max(lst_alpha))

In [ ]:
#Note while working with strings - that the min/max method calculates the ORDER in which the characters are stored in
# ordinal values and checks for the first character (and each subsequent character if tied). Therefore - Capital A is the 
# lowest and small z is the highest. 

lst_alpha2 = ["Python", 'a', 'seventy-two']

print(max(lst_alpha2))

In [ ]:
lst_alpha3 = ['Python', 'Pithon']

print(max(lst_alpha3))

In [ ]:
lst_alpha4 = ["Python", "Qython"]

print(max(lst_alpha4))

In [ ]:
lst5 = ['P', 200, 50, 75]

print(min(lst5))

#With mixed datatypes the comparison of min and max cannot be performed.

In [10]:
#Count method in Lists. Counts the number of times an element occurs in a list. 

lst= ['P', 200, 50, 75, 200, 'P', 50, 'P', 20]

print(lst.count('P'))

3

In [11]:
y = lst.count('P')
print(y)

3

In [12]:
#Returns the count as a value so the value can be stored in a variable.

#Takes only one parameter - the item to be counted

# Returns TypeError if more than one element to count passed into the arguments. 

y = lst.count('P', 50)

TypeError: list.count() takes exactly one argument (2 given)

In [13]:
#Insert Method on Lists. Inserts item at specified index position in a list. Performs operation on original list and has
# no return. 

#Takes 2 arguments - Both mandatory:
#1. Index position to be inserted at. 
#2. Item to be inserted

print(lst)

['P', 200, 50, 75, 200, 'P', 50, 'P', 20]

In [14]:
lst.insert(4, 'ABC')

print(lst)

['P', 200, 50, 75, 'ABC', 200, 'P', 50, 'P', 20]

In [15]:
lst1 = lst.insert(7,'XYZ')

print(lst)
print(lst1)

['P', 200, 50, 75, 'ABC', 200, 'P', 'XYZ', 50, 'P', 20]
None

In [17]:
#Cannot specify more than one index position or item to be inserted at one time. 

lst.insert(4,5,'Python')

TypeError: insert expected 2 arguments, got 3

In [18]:
#Also throws a TypeError if only one parameter specified i.e. there is no default index number. 
lst.insert('Python')

TypeError: insert expected 2 arguments, got 1

In [19]:
#Extend method on Lists. Extends the list by the elements specified in the parameter. 

lst1 = ['a', 100, 2001, 10.2, 'XYZ']
lst2 = ['b', 'C for Chair', 1132]

print(lst1)
print(lst2)

['a', 100, 2001, 10.2, 'XYZ']
['b', 'C for Chair', 1132]

In [ ]:
lst1.extend(lst2)

print(lst1)
print(lst2)

In [9]:
#Difference between Concatenation and Extend method. 

#1. Extend method modifies the original list while concatenation creates a new list object. 
#2. Extend method can be used between datatypes. Concatenation can only be performed between two lists. 

lst_x = lst1.extend(lst2)
print(lst1)
print(lst_x)

NameError: name 'lst1' is not defined

In [20]:
lst1.extend('pqrs')

print(lst1)

['a', 100, 2001, 10.2, 'XYZ', 'p', 'q', 'r', 's']

In [21]:
lst3 = ['pqrs', 'xyz']

lst1.extend(lst3)

print(lst1)

['a', 100, 2001, 10.2, 'XYZ', 'p', 'q', 'r', 's', 'pqrs', 'xyz']

In [22]:
#Note how extend treats each of the element in the iterable 'pqrs' as a separate element and adds each of them to the
# original list. 

tup_y = (17, 'Airplane', 'Train')

lst1.extend(tup_y)

print(lst1)

['a', 100, 2001, 10.2, 'XYZ', 'p', 'q', 'r', 's', 'pqrs', 'xyz', 17, 'Airplane', 'Train']

In [26]:
lst3 = lst1 + tup_y

print(lst3)

TypeError: can only concatenate list (not "tuple") to list

In [27]:
#If we need to treat the iterable as a single element - we need to put it in another iterable as one object and then extend
# list

tup_z = ('pqrs',)

lst1.extend(tup_z)

print(lst1)

['a', 100, 2001, 10.2, 'XYZ', 'p', 'q', 'r', 's', 'pqrs', 'xyz', 17, 'Airplane', 'Train', 'pqrs']

In [28]:
#Clear method on Lists - clears the original list of all elements. 

lst1.clear()

print(lst1)

[]

In [29]:
#Modifies original list and returns none. 

lst1 = list('abcde')

print(lst1)

['a', 'b', 'c', 'd', 'e']

In [30]:
lst2 = lst1.clear()

print(lst1)
print(lst2)

[]
None

In [31]:
#Packing and unpacking list. Packing is nothing but assigning elements / objects to a list which we have seen previously. 

lst1 = [1,2,3,4,5,6]
lst2 = [10,20,30,40,50,60]
lst3 = list('abcdef')

print(lst1, type(lst1))
print(lst2, type(lst2))
print(lst3, type(lst3))

[1, 2, 3, 4, 5, 6] <class 'list'>
[10, 20, 30, 40, 50, 60] <class 'list'>
['a', 'b', 'c', 'd', 'e', 'f'] <class 'list'>

In [ ]:
#Unpacking however, is assigning the values inside a list(or a tuple) to variables. The variables are on the left and 
# the list is on the right of the expression. 

a,b,c,d,e,f = lst1

print(a,b,c,d,e,f, sep = '\n')

In [33]:
a,b,c,d,e,f = lst2

print(a,b,c,d,e,f, sep = '\n')

10
20
30
40
50
60

In [32]:
a,b,c,d,e,f = lst3

print(a,b,c,d,e,f, sep = '\n')

a
b
c
d
e
f

In [ ]:
#The number of variables must correspond to the elements in the list (or we use the * to prefix a single variable to collect
# the rest of the elements. More on that later).

a,b,c = lst3

print(a,b,c, sep = '\n')

In [ ]:
print(lst1)

In [ ]:
#However, if we need only some of the variables assigned and the rest in a single list we can add the * prefix infront of
# one of the variables - and this will collect all the remaining variables after the n number of variables are each assigned
# an element from the list. 

a,b, *c = lst1

print(a,b,c, sep = '\n')

In [ ]:

a,*b,c = lst1

print(a,b,c, sep = '\n')

In [34]:
#Using this logic of unpacking multiple arguments to a function can be packed into a list and a single list with the *
#prefix can be passed into the function. 

def func_list(p,q,r,s,t):
    return (s+t)*(p+q*r)

lst1 = [3,3,2,'My students ', 'are amazing! ']

print(func_list(*lst1))
    
p,q,r,s,t = lst1

My students are amazing! My students are amazing! My students are amazing! My students are amazing! My students are amazing! My students are amazing! My students are amazing! My students are amazing! My students are amazing!

In [35]:
try1 = str(None)

print(try1)

None